<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <listener>
        <description>session timeout dinamic</description>
        <listener-class>it.cnr.to.geoclimalp.dbalps.MyHttpSessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>processoServlet</servlet-name>
        <servlet-class>it.cnr.to.geoclimalp.dbalps.Servlet.processoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>it.cnr.to.geoclimalp.dbalps.Servlet.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletJson</servlet-name>
        <servlet-class>it.cnr.to.geoclimalp.dbalps.Servlet.servletJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processoServlet</servlet-name>
        <url-pattern>/processoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletJson</servlet-name>
        <url-pattern>/servletJson</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>dbalp</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <res-ref-name>dbalps</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
